{% extends 'portfolio/base.html' %}
<!-- import base.html as a template -->

{% block title %}<title> Wienersout </title>{% endblock %}

{% block content %}
<!-- match the name inside the base.html -->

{% load static %}
<div class="bd-masthead mb-3" id="content">
  <div class="container text-center">
    <img src="{% static 'portfolio/FloweryThirstyCobra-size_restricted.gif' %}"><br>
    <h1 class="main_home_text mb-3 fw-semibold">My First Portfolio Site on Django</h1>
    <!-- <a href="{% static 'portfolio/butterssalute.jpg'%}">Image Source</a><br> -->
  </div>
</div>

<h2 class="mt-5 title_text fw-semibold">Portfolio</h2>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for project in projects %}
  <div class="col column_card">
    <div class="card h-100">
      <img src="{{ project.image.url }}" class="card_images card-img-top" alt="img-chosen">
      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.description }}</p>
      </div>
      {% if project.url %}
      <a href="{{ project.url }}" class="stretched-link"></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
